.root {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  /* background-color: aqua; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
